CMakeCache.txt
CMakeSettings.json

.vs

compare/*

teikitu/.vs
teikitu/bin
teikitu/doc
teikitu/lib
teikitu/obj

teikitu/prj/cmake_stream.cmake
teikitu/prj/*/

samples
teikitu/DerivedData
teikitu/teikitu.xcworkspace
