# Ignore MacOS files
.DS_Store

# Ignore all Visual Studio temp files.
*.suo
*.opensdf
*.sdf
**/.vs
CMakeSettings.json

# Ignore all CMake temp files.
CMakeCache.txt
CMakeSettings.json

# Ignore generated directories
**/bin
**/bld
**/lib
**/obj

# Ignore Local Directories
/build
/teikitu_assets
/teikitu_external/_*
