# Ignore MacOS files
.DS_Store

# Ignore all Visual Studio temp files.
*.suo
*.opensdf
*.sdf
.vscode
.editorconfig
**/.vs
CMakeSettings.json

# Ignore all CMake temp files.
CMakeCache.txt
CMakeSettings.json

# Ignore generated directories
**/bin
**/bld
**/lib
**/obj

# Ignore Local Directories
/build
/teikitu_assets
/teikitu_external/_*
/teikitu_private/src/TgS KERNEL/DEBUG/*
/teikitu_private/src/TgS KERNEL/RELEASE/*
/teikitu_private/src/TgS KERNEL/FINAL/*
/teikitu_private/src/TgS KERNEL/TOOLS/*
/teikitu_private/tests/TgS KERNEL/DEBUG/*
/teikitu_private/tests/TgS KERNEL/RELEASE/*
/teikitu_private/tests/TgS KERNEL/FINAL/*
/teikitu_private/tests/TgS KERNEL/TOOLS/*
